/* Resets */
body, p {
  margin: unset;
}

h1, h2, h3, h4, h5, h6 {
  margin: unset;
  font-size: unset;
  font-weight: unset;
}

/*
  font-family: "Montserrat", sans-serif;
*/

/* Layouts */
/* 공통으로 활용하는 레이아웃 클래스. 가로 기준에서 중앙 정렬만 담당 */
.l_wrapper {
  box-shadow: inset 0 0 20px blue;
  max-width: 1080px;
  margin: 0 auto;
}

/* Components */
/* 시각적으로 보여지는 공통 분모 -> 템플릿 구성 */
.section {
  padding: 92px 0 100px;
}

/* 전체 section 관점에서 쓰이는 배경 / 전경 색상 그룹 설정 */
.section.theme_purple {
  background-color: #6230A2;
  color: #C89DFF;
}

.section.theme_white {
  background-color: #FFF5ED;
  color: #F98173;
}

.section-header {
  box-shadow: inset 0 0 4px purple;
  margin-bottom: 100px;

}

.section-contents {
  box-shadow: inset 0 0 4px purple;
}

.title {
  box-shadow: inset 0 0 20px gold;
}

.title-headings {
  box-shadow: inset 0 0 20px darkcyan;
}

.title-description {
  box-shadow: inset 0 0 20px orangered;
}

.title-controls {
  box-shadow: inset 0 0 20px dodgerblue;
}